section div p{
  font-size: 30px;
  margin: 30px 0;
}

.service-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tool-box {
  display: none;
  /*border-radius: 25px;*/
  /*opacity: 0;*/
  /*background: lightblue;*/
  /*padding: 0;*/
  /*margin: 0;*/
}
.list-item-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.edit-button{

}

.delete-button{
  color: red;
}

button {
  margin: 10px;
}
mat-list{
  width: 33%;
}

mat-list-item:hover .tool-box {
  display: flex;
}


