.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navigation-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation-item {
  margin-bottom: 10px;
}
