<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <h2>Services!</h2>
  </div>
  <div class="service-list-container">
    <h3>
      Services Offered ({{services.length}})
    </h3>
    <div>
      <mat-form-field class="example-full-width" floatLabel="always">
        <mat-label>New Service name</mat-label>
        <input
          id="newServiceName"
          matInput
          [(ngModel)]="newServiceName"
          autocomplete="off"
        >
      </mat-form-field>
      <button
        matTooltip="Add a new service"
        mat-stroked-button
        (click)="addService(newServiceName)"
        [disabled]="newServiceName.length === 0"
      >
        Add Service
      </button>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let service of services">
        <div class="list-item-container">
          <div>
            {{service.description}}
          </div>
          <div class="tool-box">
            <button mat-icon-button matTooltip="Delete" (click)="confirmDialog(service.id)">
              <mat-icon class="material-icons-outlined delete-button">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</section>
